.main {
    padding: 20px 0px;
}
.container {
    padding: 20px 10px;
    width: 1000px;
    margin: auto;
    border-radius: 7px;
    background-color: #ce8181;
    min-height: 100px;
}

.title {
    color: #ffffff;
    font-size: 20px;
}

.message {
    border-radius: 7px;
    background-color: #fbe5e5;
    padding: 10px;
    margin-top: 10px;
}