@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
    display: flex;
    align-items: center;
    height: 115ch;
    justify-content: center;
    background-color: transparent;
    background-image: url('/img/forecast/snow.gif');
    overflow: hidden;
}

.box {
    position: relative;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    min-height: 50px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    cursor: pointer;

    &_win {
        composes: box;
        border: 3px solid #ed207b;
    }
}

.unicorn {
    position: absolute;
    top: -227px;
    width: 350px;
    height: 300px;
    background-image: url('/img/forecast/unicorn-cast.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}