.profile {
}

.profile__bord {
}

.profile__switch-widget-button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    right: -1px;
    border-radius: 0px 10px 0px 10px;
    background: orange;
    cursor: pointer;
}