@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
.main {
  background: #0b172a;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.main-chrom {
  background-color: #8ffe09;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.header {
  width: 100%;
}
.App-link {
  color: #61dafb;
}
.dashboard {
  position: relative;
  background-color: white;
  border-radius: 10px;
  width: 400px;
  min-height: 500px;
}
.home-authoriz__list {
  list-style-type: none;
  padding: 0px;
}
.home-authoriz__list-item {
  display: inline-block;
}
.home-authoriz__link {
  display: inline-block;
  text-decoration: none;
  padding-left: 22px;
  padding-right: 22px;
  min-height: 52px;
  font-size: 19px;
  line-height: 50px;
  color: #4e4e4e;
  border-radius: 26px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.home-authoriz__link_login {
  background: #f36c6c;
  color: #ffffff;
  margin-top: 15px;
}
.home-authoriz__link_reg {
  text-decoration: underline;
}
.home-authoriz__link_txt {
  display: block;
  color: #4e4e4e;
  margin-top: 15px;
}

.preloader {
  height: auto;
}
.preloader__title {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  padding: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
